body
{
    background-color: bisque;
}
h1
{
    text-align: center;
    font-size: 10ex;
    color: brown;
        
}
/* p
{
    text-align: center;
    font-size: 30px;
    color:rgb(226, 43, 134);
        
}
img
{
    align-items: center;

} */